[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
responses = "*"
fastapi = "*"
uvicorn = {version = "*", extras = ["standard"]}
mako = "*"
bcrypt = "*"
openai = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
