<%inherit file="/layout/shared.html" />

<%block name="head">
    <title>Activities!!!!</title>
</%block>


<%block name="content">
    <img src="/static/images/logo.png" id="home-logo"/>
    <h1>Activities</h1>
    <form action="/activities" method="POST">
        <input type="submit" value="add activity">	
    </form>
    <table>
        %for act in activities:
            <tr>
               <td> <a href = "/activities/${act.key}"> ${act.name} </a> </td>
            </tr>
        % endfor
    </table>
</%block>